<html lang="en">
<head>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/select2.full.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/mustache.min.js"></script>
  <script src="js/popup.js"></script>
  <link rel="stylesheet" href="css/fontawesome-all.min.css">
  <!-- Spinner css holds spinner data and bulma customizations -->
  <link rel="stylesheet" href="css/spinner.css">
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/select2.min.css">
  <link rel="stylesheet" href="css/cryptocoins.css">
  <link rel="stylesheet" href="css/cryptocoins-colors.css">
</head>
<body>
  <div class="hero" style="background-color: #3e2442;margin-bottom:8px;">
    <div class="media">
      <div class="media-left" style="padding-left: 8px;">
        <figure class="image">
          <img src="/images/moonlambo-header.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="is-size-3" style="color:white;">MoonLambo</div>
      </div>
    </div>
  </div>
  <div class="hero is-small" style="padding:5px;">
    <select multiple="multiple" id="coinselect"></select>
  </div>
    <div style='padding:5px;'>
      <div class="spinner" id="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="target"></div>
    </div>
    <div>
      <div class="has-text-right is-size-7" id="currencyTarget">
      </div>
    </div>
    <div id="watch-list" style="display:none;"></div>
    <div id="watch-fiat" style="display:none;"></div>
      <script id="charts" type="x-tmpl-mustache">
      <div class="box">
        <table class="table is-striped is-fullwidth" id="tblCoinWatch" >
          <thead>
            <th colspan="2">Currency</th><th>Price</th><th nowrap>24HR Chg</th><th>&nbsp;</th>
          </thead>
          <tbody>
            {{#mstCoinList}}
            <tr id="{{symbol}}">
              <td style="padding-right:0;"><i class="cc {{symbol}}"></i>&nbsp;</td>
              <td style="padding-left:0;">{{name}}</td>
              <td class="has-text-right" style="white-space: nowrap"><h5>{{price}}</h5></td>
              <td class="has-text-right {{cssClass}}"><h5>{{changePct}}%</h5></td>
              <td id="rm-r_{{symbol}}"><div class="button is-white is-outlined is-small" style="height: auto;padding-top:0px; padding-bottom:0px;"><span class="icon"><i class="fas fa-trash-alt" style="color:#3e2442;"></i></span></div></td>
            </tr>
            {{/mstCoinList}}
            </tbody>
        </table>
      </div>
      </script>
      <script id="currencySelect" type="x-tmpl-mustache">
        <div class="dropdown is-up is-right">
          <div class="dropdown-trigger">
            <button class="button is-white is-outline is-small" aria-haspopup="true" aria-controls="dropdown-menu7">
              <div class="is-size-7">{{xcode}}</div>
              Fiat Conversion:&nbsp;
              <span class="icon is-small">
                <i class="fas fa-angle-up is-size-7" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-fiat" role="menu" style="min-width:4rem;">
            <div class="dropdown-content">
              {{#currency}}
              <div class="dropdown-item" style="padding: 0 5px 0 0;">
                <a href="#" id="{{currency}}" lang="{{lang}}">{{currency}}</a>
              </div>
              {{/currency}}
            </div>
          </div>
        </div>
      </script>
    </div>
</body>
</html>
